img {
    border-radius: 120px;
    margin-left: 30px;
}

.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    
    overflow: hidden;
}

body {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    color: white;
}

.g1 {
    background: url('./img/header') no-repeat center;
    height: 100%;
}

.header {
    display: flex;
}

.menu-list {
    display: flex;
    list-style-type: none;
    margin-top: 50px;
    margin-left: 60px;
}

.menu-item:not(:last-child) {
    margin-right: 63px;
}

.menu-item a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    border-bottom: 0;
    border-radius: 5px;
    font-family: 'Comfortaa', sans-serif;
}

.active {
    font-weight: bold;
}

.main {
    display: flex;
    margin-top: 20px;
}

.main-text {
    font-weight: 500;
    font-size: 60px;
    line-height: 63px;
    margin-left: 50px;
    margin-right: 600px;
    margin-bottom: 200px;
    color: black;
    font-family: 'Comfortaa', sans-serif;
}

ul {
    list-style-type: none;
    font-family: 'Comfortaa', sans-serif;
}

.title {
    margin-top: 30px;
    margin-left: 35px;
}

.g {
    color: #111;
    margin-right: 80px;
    margin-left: 20px;
}

.cards {
    display: flex;
    justify-content: space-between;
    font-family: 'Comfortaa', sans-serif;
    color: #111;

    margin-top: 70px;
}

.ppp {
    margin-left: 70px;
}

.but {
    font-family: none;
    margin-left: 220px;
    border: 2px solid #000;
    font-weight: bold;
    width: 110px;
    padding: 10px;
    background-color: gainsboro;
}

.but p {
    margin: 0;
    color: black;
}

.footer {
    background-color: rgb(216, 216, 216);
    border: 3px solid rgb(226, 228, 223);
    border-radius: 10px 10px 0 0;
    margin-top: 50px;
    margin-bottom: auto;
    padding-bottom: 15px;
    padding-top: 15px;
}

.c {
    color: black;
    font-weight: 10px;
    margin-left: 20px;
    margin-right: 10px;
}

.d {
    color: black;
    font-weight: 10px;
    margin-left: 20px;
    margin-top: 50px; 
}